/* Reset */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Root */

:root {
    --header: #080b12;
    --background: #141922;
    --footer: #282828;
    --secondary-text: #7a7c81;
}


/* Utils */

.flex {
    display: flex;
}

.container {
    max-height: calc(100vh - 150px)
}

/* Generals */

body {
}







/******** Main ********/


main .wrapper {
    background-color: var(--background);
}


/**** SideBar ****/

aside {
    width: 60px;
    height: calc(100vh - 150px);
    background-color: black;
    position: sticky;
    top: 0;
    left: 0;
    color: var(--secondary-text);
}


/* Logo */

.logo .logo-large {
    display: none;
    padding: 15px;
    width: 180px;
    margin: 0 auto;
}


.logo .logo-small {
    width: 30px;
    margin: 0 auto;
    padding-top: 10px;
}


/* Nav Menu */

aside .option {
    text-align: center;
}

aside .option span {
    display: none;
}

aside .option i {
    padding: 10px 5px 10px 5px;
    font-size: 20px;
   
}


/* Playlist */

.playlist{
    display: none;
    padding-left: 15px;
    padding-top: 20px;
}

.playlist h2 {
    color: white;
    font-size: 20px;
    margin-bottom: 15px;
}


.new-playlist i {
    background-color: var(--secondary-text);
    padding: 10px;
    color: black;
    margin-right: 5px;
}

.your-playlist{
    margin-top: 10px;
}

.your-playlist div {
    padding-top: 10px;
    font-size: 15px;
}






/******** Header ********/

header {
    height: 100px;
    background-color: var(--header);
    width: calc(100vw - 60px);
    position: sticky;
    top: 0;
    left: 0;
    
}

.upgrade{
    height: 100px;
    justify-content: flex-end;
    align-items: center;
}

.upgrade span {
    color: white;
    border: solid 2px white;
    padding: 10px 35px;
    border-radius: 40px;
}



main .wrapper{
    overflow-y: auto;
}





/******** Footer ********/

footer {
    background-color: var(--footer);
    height: 150px;
}

footer .wrapper {
    padding: 0 15px;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.wrapper > div {
    width: 300px;
    height: 100px;
    border: 2px dashed white;
}





/******************************************************
************       RESPONSIVE        ******************
*******************************************************/

@media screen and (min-width: 768px) {

    /******* Aside ********/

    aside {
        width: 200px;
    }


    /* Logo */ 
    .logo .logo-small {
        display: none;
    }

    .logo .logo-large {
        display: block;
    }

    /* Nav Menu */

    aside .option {
        text-align: left;
        padding-left: 15px;
    }

    aside .option span {
        display: inline;
       
    }

    aside .option i,
    aside .option span {
        font-size: 15px;
    }

    /* Playlist */

    .playlist {
        display: block;
    }



    /****** Header *******/

    header {
        width: calc(100vw - 200px);
    }
}
